@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
    background: rgb(48, 97, 172);
    font-family: 'Bangers';
    background: url(imagens/background.webp),no-repeat;
    background-size: 1400px;
    overflow-x: hidden;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {   
    background-color: rgb(108, 108, 108);   
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:active {   
    background-color: rgb(87, 87, 87);
}

body::-webkit-scrollbar-track {
    background-image: url(imagens/background-bar.webp);
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Bangers';
    font-size: 18pt;
    font-weight: bolder;
    text-shadow: 3px 3px rgb(0, 0, 0);
}
section#s {
    background: white;
    border-radius: 15px;
    padding: 15px;
    width: 900px;
    height: auto;
    margin: auto;
    text-align: center;
    opacity: 94%;
}

section#s:hover {
    box-shadow: 5px 5px 15px #d63031;
}

section#valor {
    background: white;
    border-radius: 15px;
    padding: 30px;
    width: 0px;
    height: 0px;
    margin: auto;
    box-shadow: 5px 5px 15px #d63031;
    text-align:center;
    opacity: 0%;
    font-size: 50px;
    position: absolute;
    right: 300px;
    bottom: 100px;
}


footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px white;
    font-size: 16pt;
    text-shadow: 2px 2px black;
}

h3#rd {
    text-align: center;
    position: relative;
    
}

.botao {
    /* background: #3cb371; */
    border: solid 2px transparent;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Bangers', cursive;
    padding: 6px 12px;
    text-decoration: none;
    transition: background 0.3s linear 0s;
    border-color: #d63031;
    color: #000000;
    font-weight: 300;
    cursor: pointer;
    /* text-shadow: 1px 1px rgb(0, 0, 0); */
    /* font: bolder; */
    background-color: white;
    box-shadow: 1px 1px black;
    margin: -5px;
    outline: none;
}

.botao:hover {
    border-color: #d63031;
    color: #ffffff;
    text-shadow: 1px 1px black;
    background-color: #ff7675;
    background-image: -moz-linear-gradient(top,#ff7675,#eb2f06);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff7675),to(#eb2f06));
    background-image: -webkit-linear-gradient(top,#ff7675,#eb2f06);
    background-image: -o-linear-gradient(top,#ff7675,#eb2f06);
    background-image: linear-gradient(to bottom,#ff7675,#eb2f06);
    
} 

.botao:active {
    position: relative;
    top: 3px;
    right: 1px;
    background: #d63031;
    box-shadow: 0 5px 0 #ffffff;
}

.botao .btn:focus{
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.botao:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.btn {
    font-family: Aria;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-green {
    color: #ffffff;
    box-shadow: 0 5px 0 #006000;
    border-radius: 5px;
    font-family: sans-serif;
}

.btn-green:hover {
    background: #006000;
    color: #ffffff;
    box-shadow: 0 5px 0 #003f00;
}

.btn-green:active {
    position: relative;
    top: 5px;
    box-shadow: 0 5px 0 #ffffff;
}

.btn .btn:focus{
    outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }
    .btn:focus {
        outline: thin dotted;
        outline: 0px auto -webkit-focus-ring-color;
        outline-offset: 0px;
    }


div#res {
    font-size: 15pt;
    background-color: darkred;
}

input[type=radio] {
    cursor: pointer;
}

input#limpar {
    position: relative;
    opacity: 0%;
    top: 20px;
}

img#Desconjuração {
    position: absolute;
}

img#Desconjuração2 {
    position: absolute;
}


h2 {
    color: #d63031;
    text-shadow: 1px 1px black;
}

div#superior-esquerdo {
    position: relative;
    background-color: #696969;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    right:0px;
    bottom: 0px;
    box-shadow: 1px 1px black;
}
div#superior-direito {
    position: relative;
    background-color: #696969;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: 888px;
    bottom: 15px;
    box-shadow: 1px 1px black;
}

div#inferior-esquerdo {
    position: relative;
    background-color: #696969;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    right:0px;
    top: 15px;
    box-shadow: 1px 1px black;
}
div#inferior-direito {
    position: relative;
    background-color: #696969;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    left: 889px;
    bottom: 0px;
    box-shadow: 1px 1px black;
}




#slider {
    width: 80%;
    max-width: 500px;
    height: 25vw;
    max-height: 150px;

    position: relative;
}

#slider img{
    opacity: 0;

    position: absolute;

    /* width: 100%; 
    height: 100%; */

    object-fit: cover;

    transition: opacity 800ms;
}

#slider img.selected { 
    opacity: 1;
}

a {
    opacity: 0%;
    font-size: 50px;
    position: relative;
    bottom: 25px;
    right: 10px;
}

p#dado1 {
    padding: 5px;
}


p#aS {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    right: 300px;
}

p#aD {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    right: 225px;
}

p#aE {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    right: 145px;
}

p#aC {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    right: 50px;
}

p#aEd {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    left: 40px;
}

p#aF {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    left: 120px;
}

p#aT {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    left: 185px;
}

p#aSo {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    left: 235px;
}

p#aP {
    font-family: 'Bangers';
    font-size: x-large;
    position: relative;
    bottom: 40px;
    left: 295px;
}




section#conteudo{
    width: 1000px;
    margin:  auto;
  }
  
  iframe#frameEspecificacoes{
    width: 400px;
    height: 280px;
    border: none;
    overflow: hidden;
  }
  
  iframe#frameEspecificacoes::-webkit-scrollbar { 
    display: none;
  }

